.body {
    background: #0E1323;
    height: 100vh;
    display: grid;
    place-items: center;
}

.grande {
    width: 255px;
    height: 354px;
    z-index: 100;
    position: relative;
    margin-top: -145px;
}

.umfundo {
    width: 255px;
    height: 160px;
}

.umfrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.doisfundo {
    width: 255px;
    height: 160px;
}

.doisfrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.tresfundo {
    width: 255px;
    height: 160px;
}

.tresfrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.quatrofundo {
    width: 255px;
    height: 160px;
}

.quatrofrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.cincofundo {
    width: 255px;
    height: 160px;
}

.cincofrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    ;
}

.seisfundo {
    width: 255px;
    height: 160px;
}

.seisfrente {
    width: 255px;
    height: 199px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 32, 75, 1);
    margin-top: -113px;
    z-index: 100;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.grid {
    background: #0E1323;
    height: 100vh;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    border-radius: 15px;
    gap: 2rem;
}

h2 {
    font-family: rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.33px;
    text-align: left;
    gap: 8px;
    margin-top: 15px;
    margin-left: 20px;
}

p {
    font-family: Rubik;
    font-size: 56px;
    font-weight: 300;
    line-height: 110px;
    margin-left: 20px;
}

h3 {
    color: rgba(187, 192, 255, 1);
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
}